{% assign is_sfmb = false %}
{% if page.tags contains "sfmb" or page.id contains "/wiki/sfmb_" or page.id contains "/wiki/about_super_fanmade_mario_bros" %}
    {% assign is_sfmb = true %}
{% endif %}
<!DOCTYPE html>
<html{% if is_sfmb %} class="sfmb-wiki-root"{% endif %}>
    {% include header.html %}
    <body{% if is_sfmb %} class="sfmb-wiki"{% endif %}>
        <div class="page-content{% if is_sfmb %} sfmb-page-content{% endif %}">
            {% include searchbox.html %}
            <div class="post{% if is_sfmb %} sfmb-post{% endif %}">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
